

.container{
    background-color: #1BA7B0;
    padding: 50px 15px 35px;
    margin-left: 0cm;
    

    
}
.container button {
  border:2px solid #D4AF37;
  color:black;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-inline-start: 1cm;
  font-size: 16px;
  position: center;
  margin-right: auto;
  

  }

.email .password{
    font-size: 25px;
    display: flex;
    font-family: sans-serif;
}

.container img{
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid #D4AF37
    
}
.container form{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 80%;

}

.container form input{
    margin-left: 10px;
}

.log img{
height: 15px;
width: 15px;
}