.container{
    background-color: #1BA7B0;
    padding: 50px 15px 35px;
    margin-left: 0cm;
    justify-content: center;

    
}
.button {
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight:lighter;
    display: flex;
   
}
